@model BACommerce.Models.Product
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>

<body>
    <div class="container">
        <div class="row" style="margin-top:50px;">
            <div class="col-lg-6 col-lg-offset-3 panel panel-default">
                <div class="panel-body">
                    @if (ViewBag.bilgi == true)
                    {
                        <div class="alert alert-success">Güncelleme İşlemi Başarılı.</div>
                    }
                    else if (ViewBag.bilgi == false)
                    {
                        <div class="alert alert-danger">Güncelleme İşlemi Başarısız.Lütfen Girilen Bilgileri kontrol Ediniz.</div>
                    }

                    @using (Html.BeginForm("Guncelle", "Product", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.ProductID)
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center">Ürün Güncelle</th>
                                </tr>
                            </thead>
                            <tr>

                                <td>Adı(**)</td>
                                <td>@Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })</td>
                                <td>@Html.ValidationMessageFor(x => x.ProductName)</td>
                            </tr>
                            <tr>
                                <td>Açıklama(**)</td>
                                <td>@Html.TextAreaFor(Model => Model.Description, new { @class = "form-control" })</td>
                                <td>@Html.ValidationMessageFor(x => x.Description)</td>
                            </tr>
                            <tr>
                                <td>Stok Durumu(*)</td>
                                <td>@Html.TextAreaFor(Model => Model.UnitInStock, new { @class = "form-control" })</td>
                                <td>@Html.ValidationMessageFor(x => x.UnitInStock)</td>
                            </tr>
                            <tr>
                                <td>Fiyatı(*)</td>
                                <td>@Html.TextAreaFor(Model => Model.UnitPrice, new { @class = "form-control" })</td>
                                <td>@Html.ValidationMessageFor(x => x.UnitPrice)</td>
                            </tr>
                        
                            <tr>
                                <tr>

                                <td>Kategori Seçimi(**)</td>
                                <td>@Html.DropDownListFor(x => x.CategoryID, new SelectList(ViewBag.CategoryList, "CategoryID", "CategoryName"), new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td>Resim b1.jpg default resimdir.(*)</td>
                                <td>@Html.TextBoxFor(x => x.ImagePath, new { @class = "form-control" })</td>
                            </tr>
                        
                           
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="GÜNCELLE" class="btn btn-success btn-block" />
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
    <div class="control-group">
        <div class="controls">

            <label style="color:red;font-size:20px;">(**) olan yerler boş geçilemeyen (*) olan yerler boş geçilebilir alanlardır..</label>


        </div>
    </div>

</body>
</html>

